#galeria .col-lg-4 {
    margin: 2 !important;
    padding: 5px;
}

#galeria img {
    width: 100%;
    height: 250px;
}

#galeria img:hover {
    border: 5px solid #f7f7f7;
}

#carouselExampleIndicators img {
    width: 100%;
    height: 300px;
}

p {
    font-size: 14pt;
    text-align: left;
}


nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    color: white;
}


nav-item {
    font-size: 14px;
}
